@import "src/theme/variables";

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: red;
}

.wrapper {
  justify-content: space-between;
  min-height: 100%;
}

.push {
  height: 30px;
}
