<div class="container" [formGroup]="analysisForm">
  <h3 class="title">{{ 'global.pages.analysis.cloc-revisions.title'|translate }} <i>{{ codebaseName() }}</i>
    @if (!fileUploaded) {
      &nbsp;-&nbsp;{{ 'global.pages.analysis.cloc-revisions.root-folder'|translate }}: <i>'{{ rootFolder }}'</i>
    }
  </h3>
  <mat-divider></mat-divider>
  @if (codebaseClocRevisions.extensions.length > 1) {
    <div style="margin-top: 15px; margin-left: 15px">
      @if (!disabledButtons()) {
        <section>
          <div class="buttons-row">
            <button mat-raised-button (click)="unselectAll()" color="warn">{{ 'global.buttons.unselect-all'|translate }}
            </button>
            <button mat-raised-button (click)="selectAll()" color="warn">{{ 'global.buttons.select-all'|translate }}
            </button>
            <button mat-raised-button (click)="onRefresh()"
                    color="primary">{{ 'global.buttons.refresh-graph'|translate }}
            </button>
          </div>
        </section>
      }
      <div formArrayName="extensions">
        <ng-container *ngFor="let extension of codebaseClocRevisions.extensions; let i = index">
          <mat-checkbox [formControlName]="i">
            {{ extension }}
          </mat-checkbox>
        </ng-container>
      </div>
    </div>
  }
  <mat-divider></mat-divider>
  <div style="margin-top: 15px">
    <mat-form-field class="treemap-search-input user-action-input">
      <mat-label>{{ 'global.pages.analysis.cloc-revisions.search.placeholder'|translate }}</mat-label>
      <input matInput [formControlName]="'search'"
             (focus)="showSearchHint = true"
             (blur)="showSearchHint = false">
      @if (showSearchHint) {
        <mat-hint class="small-hint">
          {{ 'global.pages.analysis.cloc-revisions.search.hint'|translate }}
        </mat-hint>
      }
    </mat-form-field>
    <button mat-raised-button class="user-action-button" (click)="download()" color="primary"
            [disabled]="!canDownload()"
            matTooltip="Download codebase files tree (json)">{{ 'global.buttons.download'|translate }}
      <span class="material-icons">download</span>
    </button>
    <button mat-raised-button class="user-action-button" (click)="upload()" color="warn" [disabled]="!canUpload()"
            matTooltip="Uplaod codebase files tree (json)">{{ 'global.buttons.upload'|translate }}
      <span class="material-icons">upload</span>
    </button>
  </div>
  <div style="margin-top: 15px; margin-left: 20px; width: 97%; border: solid #732f2f;">
    <app-treemap-chart #treemapChart></app-treemap-chart>
  </div>
  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel hideToggle #ignored_files>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'global.pages.analysis.cloc-revisions.ignored-files.title'|translate }}
          <button mat-icon-button>
            @if (!ignored_files.expanded) {
              <i class="material-icons">arrow_downward</i>
            }
            @if (ignored_files.expanded) {
              <i class="material-icons">arrow_upward</i>
            }
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!codebaseClocRevisions.ignoredRevisions.length) {
        <div class="bold">{{ 'global.pages.analysis.cloc-revisions.ignored-files.no-data'|translate }}</div>
      }
      <ul>
        <li *ngFor="let ignoredRevision of codebaseClocRevisions.ignoredRevisions">
          <div>
            <div>{{ 'global.pages.analysis.cloc-revisions.ignored-files.name'|translate }} {{ ignoredRevision.name }}</div>
          </div>
        </li>
      </ul>

    </mat-expansion-panel>
  </mat-accordion>
</div>
