$primary-color: #0C2433;
$underline-color: #732f2f;
$important-color: #732f2f;

// notifications
$info-notification-background: #cee2fc;
$info-notification-color: $primary-color;

$success-notification-background: #c0eccf;
$success-notification-color: #062503;

$warning-notification-background: #facbae;
$warning-notification-color: #361c14;

$error-notification-background: #ea7d7d;
$error-notification-color: #1c0707;



