.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar a, .mat-toolbar button {
  margin-right: 8px;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 5px;
}
