.mat-toolbar {
  background-color: cornflowerblue;
  color: white;
}

.mat-button {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
