<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="error-template">
                <h1>
                    <img [ngSrc]="'favicon.ico'" alt="Git History Scan" [height]="30" [width]="30" />
                    Git History Scan
                </h1>
                <h2>
                    Temporarily down for maintenance</h2>
                <h1>
                    We’ll be back soon!</h1>
                <div>
                    <p>
                        Sorry for the inconvenience but we’re performing some maintenance at the moment.
                        we’ll be back online shortly!</p>
                    <p>
                        — The Team</p>
                </div>
                <div class="error-actions">
                    <a href="#" style="margin-top: 10px;" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home">
                    </span>Take Me Home </a>
                </div>
            </div>
        </div>

    </div>
</div>
