<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="error-template">
        <h1>
          <img [ngSrc]="'favicon.ico'" alt="{{ 'global.app-name'|translate }}" [height]="30" [width]="30"/>
          {{ 'global.app-name'|translate }}
        </h1>
        <h2>{{ 'global.components.unavailable.description-1'|translate }}</h2>
        <h1>{{ 'global.components.unavailable.description-2'|translate }}</h1>
        <div>
          <p>{{ 'global.components.unavailable.paragraph-1'|translate }}</p>
          <p>{{ 'global.components.unavailable.signature'|translate }}</p>
        </div>
        <div class="error-actions">
          <a href="#" style="margin-top: 10px;" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home">
                    </span>{{ 'global.components.unavailable.home'|translate }}</a>
        </div>
      </div>
    </div>

  </div>
</div>
