<div class="container" [formGroup]="analysisForm">
  <h3 class="title">{{ 'global.pages.analysis.network.title'|translate }} <i>{{ codebaseName }}</i>
    @if (!fileUploaded) {
      &nbsp;-&nbsp;{{ 'global.pages.analysis.network.root-folder'|translate }}: <i>'{{ rootFolder }}'</i>
    }
  </h3>
  <mat-divider></mat-divider>
  <div style="margin-top: 15px">
    <mat-form-field class="treemap-search-input user-action-input">
      <mat-label>{{ 'global.pages.analysis.network.search.placeholder'|translate }}</mat-label>
      <input matInput [formControlName]="'search'"
             (focus)="showSearchHint = true"
             (blur)="showSearchHint = false">
      @if (showSearchHint) {
        <mat-hint class="small-hint">
          {{ 'global.pages.analysis.network.search.hint'|translate }}
        </mat-hint>
      }
    </mat-form-field>
    <button mat-raised-button class="user-action-button" (click)="download()" color="primary"
            [disabled]="!canDownload"
            [matTooltip]="'global.pages.analysis.network.download-tooltip'|translate">{{ 'global.buttons.download'|translate }}
      <span class="material-icons">download</span>
    </button>
    <button mat-raised-button class="user-action-button" (click)="upload()" color="warn" [disabled]="!canUpload"
            [matTooltip]="'global.pages.analysis.network.upload-tooltip'|translate">{{ 'global.buttons.upload'|translate }}
      <span class="material-icons">upload</span>
    </button>
  </div>
  <div style="margin-top: 15px; margin-left: 20px; width: 97%; border: solid #732f2f;">
    <app-network-chart #networkChart></app-network-chart>
  </div>
  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel hideToggle #ignored_files>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'global.pages.analysis.network.ignored-files.title'|translate }}
          <button mat-icon-button>
            @if (!ignored_files.expanded) {
              <i class="material-icons">arrow_downward</i>
            }
            @if (ignored_files.expanded) {
              <i class="material-icons">arrow_upward</i>
            }
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!codebaseNetworkRevisions.ignoredRevisions.length) {
        <div class="bold">{{ 'global.pages.analysis.network.ignored-files.no-data'|translate }}</div>
      }
      <ul>
        <li *ngFor="let ignoredRevision of codebaseNetworkRevisions.ignoredRevisions">
          <div>
            <div>{{ 'global.pages.analysis.network.ignored-files.name'|translate }} {{ ignoredRevision.name }}</div>
          </div>
        </li>
      </ul>

    </mat-expansion-panel>
  </mat-accordion>
</div>
