@use '@angular/material' as mat;
@import "@angular/material/theming";

@import 'theme/historyscan';
@include mat.core();

$angular-primary: mat.define-palette(mat.$indigo-palette, 300, 400, 700);
$angular-accent: mat.define-palette(mat.$red-palette, A100, A400, A700);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: #424242;
  color: #cecbcb;
}

a {
  color: #cecbcb;
}

a:visited {
  color: #9a9a9a;
}
